<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Site para gerenciamento dos dados do SIA 2" />
        <link rel="icon" href="{{url_for('static',filename='./imgs/favicon.ico')}}" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="SIA 2, ifpb, campus, santa rita, estufa, automatica" />
        <meta name="author" content="Ewerthon; Caio" />
        <title>SIIA</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
    </head>

    <body class="bg-gradient-to-b from-[#5CFF23] to-[#001AFF]">
        <div class="h-full max-h-screen">
            <header class="w-full h-[18%] mb-6 flex justify-center">
                <div class="bg-white rounded-lg h-full w-[32%] mt-2 flex justify-center items-center flex-col">
                    <h1 class="text-5xl tracking-wide mb-3">SIIA</h1>
                    <p class="text-lg">Sistema de Irrigação Inteligente e Automático | {{ latest_data.timestamp }}</p>
                </div>
            </header>
            <main class="w-full h-full flex">
                <section class="w-full h-full">
                    <div class="bg-white rounded-3xl h-[25%] w-[35%] ml-10 mb-10 flex justify-center items-center">
                        <p class="text-5xl">{{ latest_data.temperatura }} ºC</p>
                    </div>
                    <div class="bg-white rounded-3xl h-[25%] w-[35%] ml-10 flex justify-center items-center">
                        <p class="text-5xl">{{ latest_data.umidade }}%</p>
                    </div>
                </section>
                <section class="w-full h-full">
                    <div
                        class="bg-white rounded-xl overflow-auto max-h-[75%] w-full flex-col justify-center items-center"
                    >
                        <h1 class="text-center text-2xl p-6">Anomalias:</h1>
                        <ul class="bg-gray-400 w-full p-8">
                            {% if not anomalies %}
                            <li class="w-full p-4 bg-gray-200 rounded-xl">Nenhuma anomalia detectada até o momento.</li>
                            {% endif %} {% for anomaly in anomalies %}
                            <li>
                                Timestamp: {{ anomaly.timestamp }}, Temperatura: {{ anomaly.temperature }} ºC, Umidade:
                                {{ anomaly.humidity }}%
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                <section class="w-full h-full">
                    <div
                        class="bg-white rounded-3xl h-[40%] w-[55%] ml-auto mr-10 mb-10 flex justify-center items-center"
                    >
                        {% if latest_data.path_image %}
                        <img src="{{ url_for('static',filename=latest_data.path_image) }}" alt="Imagem da Estufa" />
                        {% else %}
                        <p>Nenhuma imagem disponível.</p>
                        {% endif %}
                    </div>
                    <div
                        class="bg-white rounded-3xl h-[25%] w-[55%] ml-auto mr-10 flex-col justify-center space-y-2 p-4"
                    >
                        <div class="bg-slate-300 rounded-xl h-[40%] w-full flex justify-center items-center">
                            <p class="text-xl">Previsões</p>
                        </div>
                        <div class="bg-gray-200 rounded-xl h-[40%] p-2 w-full flex justify-center items-center">
                            {% if not predicted_humidity or predicted_humidity == 0 %}
                            <p class="text-lg">Sem dados até o momento.</p>
                            {% else %}
                            <p class="text-lg">Umidade prevista: {{ "{:.2f}".format(predicted_humidity) }}%</p>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>
</html>
