<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Site para gerenciamento dos dados do SIA 2" />
        <link rel="icon" href="{{url_for('static',filename='./imgs/favicon.ico')}}" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="SIA 2, ifpb, campus, santa rita, estufa, automatica" />
        <meta name="author" content="Ewerthon; Caio" />
        <title>SIA 2</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
    </head>

    <body class="bg-gradient-to-b from-[#5CFF23] to-[#001AFF]">
        <header class="bg-white rounded-3xl h-[25%] w-[40%] flex justify-center items-center">
            <h1 class="text-5xl space-x-6">SIA</h1>
        </header>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>
</html>
